<!-- define the content for the template variable "title" -->
{{#partial "title" }}Signed in!!!{{/partial}}

<!-- define the content for the template variable "content" -->
{{#partial "content"}}
  <h1>Welcome to the Courses Page</h1>
  <p>Welcome {{ username }}!</p>
{{/partial}}

<!-- use the base.hbs template -->
{{> base.hbs}}
